@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  height: 60px;
  border: 2px solid green;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  background: #202124;
  display: flex;
  flex-direction: column;
  /*color: #fff;*/
}

img.googlesearch {
  width: 272px;
  height: 92px;
  color: e8e8e8;
  z-index: 3;
  border-radius: 26px;
  position: relative;
}

img.googleapps {
  width: 24px;
  height: 24px;
  border: none;
  fill: #fff;
  z-index: 1;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 15px;
}

input {
  display: flex;
  flex: 1;
  min-height: 30px;
  width: 80%;
  min-width: 800px;
  background: #4d5156;
  border: 1px solid transparent;
  border-radius: 26px;
  padding: 8px 24px;
  box-shadow: none;
  margin: 0 auto;
}

.content {
  display: flex;
  flex: 1 0 800px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
}

a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background: #171717;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  border: 2px solid red;
}

li {
  font-size: 14px;
  border: 2px solid green;
}

hr {
  color: #2d2e2e;
}
