body {
  font-size: 2vw;
  margin-right: 5vw;
  margin-left: 5vw;
}
h1,
h2,
h5 {
  text-align: center;
}

h4 {
  text-align: right;
}

.align {
  display: flex;
  justify-content: center;
  flex: 1;
}

img {
  width: 100%;
  height: auto;
  border: 3px solid red;
}

#images_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  overflow: auto;
  justify-content: space-around;
}

#images_container li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin: 5px;
  list-style: none;
}

h1.spiceup {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
