html,
body {
  font-family: Roboto, serif;
  font-size: 2vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.container {
  flex: 1;
}
.container1 {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.container1 img {
  width: 80px;
  height: 40px;
}
ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin-right: 16px;
}
a {
  text-decoration: none;
  color: grey;
}
.holder {
  background: black;
  padding-bottom: 8px;
}
.container2 {
  background: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 32px;
  margin-bottom: 32px;
  width: fit-content;
  height: fit-content;
}

.subcontainer1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 8px;
}

.scenery {
  flex: 1;
  display: flex;
}
.scenery img {
  width: 100%;
}
.title {
  margin-top: 32px;
  font-size: 4vw;
  font-weight: 900;
}
.sign-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: royalblue;
  color: #fff;
  width: fit-content;
  height: fit-content;
  margin-top: 8px;
  padding: 5px 10px;
  border-radius: 8px;
}
.container3 {
  margin: 32px;
  padding: 16px;
  display: flex;
  justify-content: center;
  background: lightpink;
  border-radius: 8px;
}
.album {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.album img {
  width: 100%;
  margin-bottom: 16px;
  border: 2px solid royalblue;
  border-radius: 8px;
}
.container4 {
  display: flex;
  justify-content: center;
  background: lightgray;
}
.cite {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
cite {
  font-size: 4vw;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 80%;
  text-align: left;
}
.author {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}
.container5 {
  background: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}
.call-to-action {
  margin: 24px 0;
  width: 70%;
  height: fit-content;
  text-align: left;
  padding: 16px 32px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: royalblue;
  color: #fff;
}
.call-to-action .sign-up-button {
  border: 2px solid white;
}
footer {
  padding: 16px;
  background: black;
  color: gray;
}
